<div class="grid-actions">
  <div class="grid-actions__action-wrapper">
    <button
      *ngIf="!params.data?.isPreview && params.data?.resultDocument?.id"
      type="button"
      class="btn-grid-action btn-download"
      (click)="onDownloadClick()"
      title="Download Results"
    ></button>
  </div>
  <div class="grid-actions__action-wrapper">
    <button
      *ngIf="params.data.rowsCount > 0 || failedState"
      type="button"
      class="btn-grid-action btn-edit"
      (click)="onViewClick()"
      title="View Import"
    ></button>
  </div>
</div>