.add-address-modal {
  &__delete-button {
    width: 64px;
    padding: 0 6px;
  }
  &__cancel-button {
    width: 80px;
    padding: 0 6px;
  }
  &__move-check-button {
    min-width: 138px;
    padding: 0 6px;
  }
  &__verify-and-save-button {
    width: 140px;
    padding: 0 6px;
  }
  &__re-verify-button {
    width: 100px;
    padding: 0 6px;
  }
  &__delete_validation-message {
    margin-left: 6px;
  }
}
