<ng-container [ngSwitch]="tab">
  <app-refund-transfer-request-records-list
    *ngSwitchCase="tabs.AllRecords"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.AllRecords"
  ></app-refund-transfer-request-records-list>
  <app-refund-transfer-request-records-list
    *ngSwitchCase="tabs.Errors"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Errors"
    [status]="errorStatus"
  ></app-refund-transfer-request-records-list>
  <app-refund-transfer-request-records-list
    *ngSwitchCase="tabs.Warnings"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Warnings"
    [status]="warnStatus"
  ></app-refund-transfer-request-records-list>
  <app-refund-transfer-request-records-list
    *ngSwitchCase="tabs.Queued"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Queued"
    [status]="enqueuedStatus"
  ></app-refund-transfer-request-records-list>
</ng-container>
