@import "src/styles/variables.scss";


table.finalization-widget-table {
  border: #303030 1px solid;
  border-bottom-width: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.finalization-widget-table {
  td {
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  th {
      background-color: #050041;
      color: white;
  }

  .info {
    font-size: 16px;
    padding-left: 20px;
  }
}