@import "../../../../styles/variables.scss";

$menu-width: 245px;
$menu-collapsed-width: 60px;

.loading-indicator {
  position: fixed;
  z-index: -1;
  background-color: var(--loading-bg-color, rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: $menu-width;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease, z-index 0.3s ease;
}

.loading-indicator.show-loading {
  z-index: $max-z-index;
  --loading-bg-color: rgba(45, 64, 87, 0.15);
  opacity: 1;
}

.loading-indicator.page-loading-indicator {
  --loading-bg-color: rgba(45, 64, 87, 0.08);
  top: 0;
  left: 0;
}

.small-padding {
  padding-left: $menu-collapsed-width;
}

.no-padding {
  padding-left: 0px;
}

@media screen and (max-width: 993px) {
  .loading-indicator {
    padding-left: 0 !important;
  }
}
