.payment-request-form {
  padding: 40px;

  &__info-section, &__attachments-section {
    margin-bottom: 0px;
  }

  &__attachments-containers {
    display: flex;
    justify-content: flex-start;
  }

  &__upload-file-section  {
     card-col:last-child {
       margin-left: 40px;
     }
  }

  &__message {
    font-size: 12px;
    color: #303030;
    line-height: 1.2;
  }

  &__file-panel {
    display: flex;
    justify-content: space-between;
    .btn-icon {
        margin: 0;
    }
  }

  &__uploaded-attachments-container {
      display: flex;
      flex-direction: column;
  }

  &__file-name {
      font-weight: bold;
      color: #1774de;
      margin-right: 5px;
      overflow-wrap: break-word;
      max-width: 290px;
  }

  &__uploaded-attachment {
      display: flex;
      align-items: center;
  }
  }

  .warning {
    flex: 0 0 100%;
    color: red;
  }

