.modal-window {
  background-color: white;
}

.form-group {
  display: flex;
}

.field-label {
  width: 80px;
  margin-right: 15px;
  margin-left: 10px;
}

.drag-drop-modal {
  height: 200px;
  width: auto;
  margin-left: 120px;
}
