<div>
  <div class="claimant-section-header-container" *ngIf="isExpandable">
    <div class="d-flex flex-column flex-grow-1">
      <div class="claimant-section-header-title" (click)="isClaimantInfoExpanded = !isClaimantInfoExpanded">
        <span>Claimant Information</span>
        <button type="button" class="btn">
          <i class="fa" [ngClass]="{ 'fa-chevron-down': isClaimantInfoExpanded, 'fa-chevron-up': !isClaimantInfoExpanded }" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>
  
  <app-summary-bar *ngIf="isClaimantInfoExpanded"></app-summary-bar>
</div>

<ng-container *ngIf="tabs">
  <app-tab-group>
    <ng-container *ngFor="let tab of tabs">
      <app-tab-item [title]="tab.title" [routerLink]="tab.link" [permission]="tab.permission"></app-tab-item>
    </ng-container>
  </app-tab-group>
</ng-container>
