<modal (close)="continueSession()">
  <modal-header>Session Timeout Warning</modal-header>
  <modal-body>
    <div class="modal-section">
      <p>Your session will expire in {{ idleTimerSecondsLeft | secToMin }} minutes due
        to inactivity.</p>
      <p>Click "Continue Session" to extend your session or you will be automatically logged
        out.</p>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn modal-footer__btn modal-footer__btn--secondary me-auto" (click)="logout()" [disabled]="isRenewing || isLoggingOut">
      Log Out Now
    </button>
    <button type="submit" class="btn modal-footer__btn modal-footer__btn--primary" (click)="continueSession()" [disabled]="isRenewing || isLoggingOut">
      Continue Session
      <span *ngIf="isRenewing" class="spinner-border spinner-border-sm align-middle ms-1" role="status" aria-hidden="true"></span>
    </button>
  </modal-footer>
</modal>