@import "../../../../styles.variables";
@import "../../../../styles/variables";

.global-deficiencies {
  margin: 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1900px) {
  .global-deficiencies {
    max-width: 1750px;
    margin-left: calc(max(20px, (100vw - 1757px) / 2));
    margin-right: calc(max(20px, (100vw - 1757px) / 2));
  }
}

.first-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    color: #080808;
    font-size: 16px;

    .selected-count {
      font-weight: 400;
    }

    .clear-selection {
      font-weight: 600;
      
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .select-all-container {
      display: flex;
      align-items: center;
      gap: 12px;

      .select-all {
        font-weight: 600;
      }
    }
  }
}

.deficiency-info-card {
  margin-bottom: 20px;
}

::ng-deep .deficiency-info-card .info-card__warning:hover,
::ng-deep .deficiency-info-card.persist-border .info-card__warning {
  border-color: #E4570C !important;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  cursor: pointer;

  .primary-text-container {
    display: flex;
    align-items: center;
    gap: 16px;

    .primary-text {
      max-width: 100%;
      color: #471A0A;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .secondary-text {
    align-self: center;
    color: $brand-orange;
  }

  &.disabled {
    pointer-events: none;
  }
}

.checkbox {
  width: 22px;
  min-width: 22px;
  height: 22px;
  accent-color: #0071FE;
}

.header {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 48px;
  font-weight: 300 !important;
  color: $claimant-dashboard-primary;
}

.card-count {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
}

.search-form {
  position: relative;

  .input-container {
    display: flex;
    border-radius: 30px;
    border: 1px solid #A3C7F1;
    box-shadow: 1px 1px 10px 0px rgba(142, 156, 206, 0.12);
    padding: 10px 18px 10px 35px;
    height: 42px;
    align-items: center;
    justify-content: space-between;

    &:before {
      content: url("../../../../assets/svg/search-icon-blue.svg");
      position: relative;
      top: 3px;
      left: -12px;
    }

    &__input {
      width: 100%;
      font-size: 15px;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: $dark-grey;
      }
    }
  }

  .clear-btn {
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50%;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $light-blue;
    }

    &:disabled:hover {
      background-color: $white;
    }
  }
}

.generate-report-btn {
  display: flex;
  width: 232px;
  height: 36px;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  border-radius: $sm-border-radius;
  gap: 8px;

  &:hover {
    box-shadow: 1px 1px 10px 0px rgba(142, 156, 206, 0.6);
  }

  &:disabled {
    background-color: #B6B6B6;
    opacity: 1;
  }
}

::ng-deep .tooltip.custom-tooltip .tooltip-inner {
  max-width: 232px;
  font-size: 13px;
  padding: 20px 16px;
}

.tooltip-wrapper {
  display: flex;
  width: 222px;
  padding: 0;
}

.export-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}

.loader {
  width: 20px;
  height: 20px;
  border: 4px dotted $primary-blue; 
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty-deficiencies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;

  i {
    font-size: 88px;
    color: #00A14B;
  }

  span {
    color: $green-800;
    font-size: 28px;
  }
}
