@import "/src/styles/variables.scss";

.privacy {
  margin: 10px 0;
  font-size: 14px;
  line-height: 19px;
  .centered-logo {
    margin: auto;
    display: block;
  }
  &__header {
    margin: 5px 0 20px;
    font-size: 14px;
    font-weight: bold;

    &--centered {
      text-align: center;
      width: 100%;
    }
  }
}
  