<modal (close)="onClose()">
  <modal-header>Confirm</modal-header>

  <modal-body>
    <div class="modal-section">
      Completing this action will delete this ledger and all related entries. 
      Are you sure you want to delete the claimant ledger?
    </div>
  </modal-body>

  <modal-footer>
    <div *ngIf="error$ | async as error" class="text-danger me-auto" style="white-space: pre-wrap;">
      {{ error }}
    </div>
    <button type="button" class="btn modal-footer__btn modal-footer__btn--secondary"
            (click)="onClose()">
      Cancel
    </button>
    <button
      type="button"
      [disabled]="disabled"
      asyncButton
      class="btn modal-footer__btn modal-footer__btn--primary"
      [awaitedActionTypes]="awaitedSubmitActionTypes"
      (click)="onDelete()">
        <span class="spinner-border spinner-border-sm align-middle ms-1 hidden"></span>
        Delete
    </button>
  </modal-footer>
</modal>
