@import "src/styles/elements/charts";

.row {
  flex-wrap: nowrap;
  margin-right: 0;
  margin-left: 0;
}

.pie-chart {
  min-width: 270px;

  &__header {
    display: flex;
    height: 50px;
    justify-content: center;
  }

  &__chart {
    height: 300px;
  }
}

.chart-combined-legend-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 0 16px;
  &.content-start {
    justify-content: flex-start;
  }
}

.phase-legend-item {
  display: flex;
  width: 160px;
  align-items: center;
  gap: 8px;
}

.legend-icon {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  padding: 0;
}

.legend-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 136px;
  font-size: 15px;
}

.legend-item-small {
  width: 125px;

  .legend-name {
    max-width: 100px;
  }
}

@media (max-width: 1550px) {
  .chart-phases-legend-container {
    width: 400px;
    margin-left: -20px;
  }
}

@media (max-width: 1350px) {
  .chart-phases-legend-container {
    width: 300px;
    margin-left: 0px;
  }
}