@import "src/styles/variables.scss";

.advanced-search-field-data {
  display: flex;

  &__type-container {
    width: $advanced-search-condition-control-width;
    margin-right: $advanced-search-controls-indent;
  }

  &__multiselect-container {
    height: 100px;
    margin-bottom: 16px;
  }

  &__filter-container {
    flex-grow: 1;
  }

  &__select {
    width: 100%;
  }
}
