  ::ng-deep .payment-tracking-list-container .ag-body-horizontal-scroll {
    height: 10px !important;
    max-height: 10px !important;
    min-height: 10px !important;
    position: relative !important;
  }

.payment-tracking-list-container .total-count{
  margin-bottom: 15px; 
  font-size: 12px;
}