<div class="page payment-details-page" [ngClass]="{ 'invisible' : (loadingInProgress$ | async) }">
  <app-action-bar
    [actionHandlers]="actionBar"
    [pager]="pager$ | async"
    (navigate)="toPage($event)">
  </app-action-bar>
  <app-context-bar 
    [title]="'Transfer Details'" 
    [elements]="headerElements">
  </app-context-bar>
  <ng-container *ngIf="tabs">
    <app-tab-group>
      <ng-container *ngFor="let tab of tabs">
        <app-tab-item [title]="tab.title" [count]="tab.count" [routerLink]="tab.link" [permission]="tab.permission"></app-tab-item>
      </ng-container>
    </app-tab-group>
  </ng-container>
</div>  
