<form [formGroup]="form">
  <card header="Special Designations">
    <card-col width="470" labelWidth="128">
      <card-row label="Minor" inputId="minor" [control]="form.get('minor')">
        <label class="form-check h-100" cardValue>
          <input type="checkbox" class="form-check-input" formControlName="minor" id="minor">
          <span></span>
        </label>
      </card-row>
      <div class="two-row-label">Spanish</div>
      <card-row label="speaker only" inputId="spanishSpeakerOnly" [control]="form.get('spanishSpeakerOnly')">
        <label class="form-check h-100" cardValue>
          <input type="checkbox" class="form-check-input" formControlName="spanishSpeakerOnly" id="spanishSpeakerOnly">
          <span></span>
        </label>
      </card-row>
    </card-col>
    <card-col width="400" labelWidth="130">
      <card-row label="Deceased" inputId="deceased" [control]="form.get('deceased')">
        <label class="form-check h-100" cardValue>
          <input type="checkbox" class="form-check-input" formControlName="deceased" id="deceased">
          <span></span>
        </label>
      </card-row>
      <div class="two-row-label">Incapacitated</div>
      <card-row label="adult" inputId="incapacitatedAdult" [control]="form.get('incapacitatedAdult')">
        <label class="form-check h-100" cardValue>
          <input type="checkbox" class="form-check-input" formControlName="incapacitatedAdult" id="incapacitatedAdult">
          <span></span>
        </label>
      </card-row>
    </card-col>
  </card>
</form>
