@import "../../../styles.variables.scss";
@import "../../../styles/variables.scss";

.quick-search-form {
  position: relative;

  .input-container {
    position: relative;

    &:before {
      content: url("../../../assets/svg/search-icon.svg");
      position: absolute;
      top: 4px;
      left: 11px;
      color: #bcbec0;
    }

    &__input {
      height: 28px;
      padding-left: 35px;
      font-family: $open-sans-font-family;
      font-size: 12px;
      color: $gray-dim;
      border: 1px solid #E3E3E3;
      border-radius: 60px;
      outline: none;

      &::placeholder {
        color: $gray;
      }

      @media screen and (min-width: 992px) {
        width: 350px;
      }
    }
  }

  .search-results {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
    font-size: 12px;

    > a {
      padding: 0.25em 1.25em;
      text-decoration: none;
      color: $black;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  .empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-dark;
  }

  .result-icon {
    height: 15px;
    vertical-align: text-top;
  }

}

