<form [formGroup]="passwordForm" class="password-change">
  <card header="Password">
    <card-col [width]="width" [labelWidth]="labelWidth">
      <card-row label="Old Password" inputId="oldPassword">
        <div cardValue>
          <app-password id="oldPassword" formControlName="oldPassword">
          </app-password>
        </div>
      </card-row>
      <card-row label="New Password" inputId="newPassword" [control]="passwordForm.get('newPassword')">
        <div cardValue>
          <app-password id="newPassword" formControlName="newPassword"
                        (onFocus)="newPasswordOnFocus = true"
                        (onBlur)="newPasswordOnFocus = false"
                        [isPasswordValidAndConfirmed]="!isPasswordConfirmed && !passwordForm.errors">
          </app-password>
        </div>
      </card-row>
      <card-row label="Confirm Password" inputId="confirmation" [control]="passwordForm.get('confirmation')">
        <div cardValue>
          <app-password id="confirmation" formControlName="confirmation"
                        [isPasswordValidAndConfirmed]="!isPasswordConfirmed && !passwordForm.errors">
          </app-password>
          <div class="text-danger password-change__error" *ngIf="isPasswordConfirmed">
            Invalid password. Passwords must match.
          </div>
        </div>
      </card-row>
    </card-col>
    <div *ngIf="newPasswordOnFocus" class="password-requirements">
        <span>At least 8 characters in length:</span>
        <span>Lower case letters (a-z)</span>
        <span>Upper case letters (A-Z)</span>
        <span>Numbers (e.g. 0-9)</span>
        <span>Special characters (e.g. !&#64;%^&*)</span>
    </div>
  </card>
</form>
