@import "src/styles/variables.scss";

.password-change {
  &__error {
    width: 168px;
    font-size: 11px;
  }
}

.password-requirements {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: $label-color;
  left: 475px;
  top: 100px;
}
