app-spinner {
    display: flex;
    justify-content: center;
}

.payment-instructions {
    &__add {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: underline;
        a {
            cursor: pointer;
        }
    }
}
