@import "src/styles/variables.scss";
@import "src/styles/_mixins.scss";

.grid-record-pager {
  display: flex;
  align-items: center;
  font-size: $pager-font-size;
  color: $pager-color;
  justify-content: flex-end;

  &__separator {
    margin: 4px;
  }

  &__button {
    min-width: 20px;
    height: 20px;
    font-weight: bold;
    line-height: 20px;
    border: none;
    background-color: transparent;
    color: inherit;
 
    &:focus {
      outline: none;
    }

    &--first {
      background: url('/assets/images/pager-double-left.png') no-repeat center;
    }

    &--last {
      background: url('/assets/images/pager-double-right.png') no-repeat center;
    }

    &--prev {
      background: url('/assets/images/pager-angle-left.png') no-repeat center;
    }

    &--next {
      background: url('/assets/images/pager-angle-right.png') no-repeat center;
    }
  }
}
