<modal (close)="onCancel()">
  <modal-header>Injury Event</modal-header>
  <modal-body>
    <div class="modal-section">
      <form [formGroup]="injuryEventForm">
        <card hideSeparator>
          <card-col [width]="570" [labelWidth]="115">
            <card-row label="Date" inputId="date" [control]="injuryEventForm.get('date')" required>
              <app-date-selector [maxDate]="todaysDate" id="date" formControlName="date" cardValue></app-date-selector>
            </card-row>
            <card-row label="Type" inputId="type" [control]="injuryEventForm.get('type')" required>
              <select class="form-control" id="type" formControlName="type" required cardValue>
                <option value="" disabled selected>Select Type</option>
                <option *ngFor="let type of injuryTypes$ | async" [value]="type.id">
                  {{ type.name }}
                </option>
              </select>
            </card-row>
            <card-row label="Description" inputId="description" [control]="injuryEventForm.get('description')">
              <textarea class="form-control" formControlName="description" id="description" cardValue></textarea>
            </card-row>
          </card-col>
        </card>
      </form>
    </div>
  </modal-body>
  <modal-footer>
    <div class="d-flex me-auto align-items-center">
      <button type="button" *ngIf="isDeleteButtonVisible" class="btn modal-footer__btn modal-footer__btn--secondary"
              (click)="onDelete()">
        Delete
      </button>
    </div>
    <button type="button" class="btn modal-footer__btn modal-footer__btn--secondary"
            (click)="onCancel()">
      Cancel
    </button>
    <button type="button" class="btn modal-footer__btn modal-footer__btn--primary"
            (click)="onSave()">
      Save
    </button>
  </modal-footer>
</modal>
