@import "src/styles.variables.scss";
@import "src/styles/variables.scss";

.note-editor-container {
    &__col {
        padding: 0 35px 0 20px;
    }
}

.payment-request {
    &__progress-bar-section {
        background-color: $blue;
        color: $white;
    }

    &__file-panel {
        display: flex;
        justify-content: space-between;
        .btn-icon {
            font-size: $font-size-m;
            color: $primary-blue;
        }
    }

    &__uploaded-attachments-container {
        width: 70%;
    }

    &__file-name {
        font-weight: bold;
        margin-right: 5px;
        max-width: 90%;
    }
}