<ng-container [ngSwitch]="tab">
  <app-file-import-all-records-list
    *ngSwitchCase="tabs.AllRecords"
    [documentTypeId]="documentTypeId"
    [documentImport]="documentImport"
  ></app-file-import-all-records-list>
  <app-file-import-inserts-list
    *ngSwitchCase="tabs.Inserts"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-inserts-list>
  <app-file-import-updates-list
    *ngSwitchCase="tabs.Updates"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-updates-list>
  <app-file-import-no-updates-list
    *ngSwitchCase="tabs.NoUpdates"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-no-updates-list>
  <app-file-import-errors-list
    *ngSwitchCase="tabs.Errors"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-errors-list>
  <app-file-import-warnings-list
    *ngSwitchCase="tabs.Warnings"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-warnings-list>
  <app-file-import-queued-list
    *ngSwitchCase="tabs.Queued"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-queued-list>
  <app-file-import-deleted-list
    *ngSwitchCase="tabs.Deleted"
    [documentImport]="documentImport"
    [documentTypeId]="documentTypeId"
  ></app-file-import-deleted-list>
</ng-container>
