.dropdown-editor {
  &__select {
    height: 32px;
    width: 100%;

    &--with-primary-tag {
      width: calc(100% - 30px);
    }

    &--with-error-tag {
      width: calc(100% - 20px);
      margin-left: 4px;
    }
  }

  &__tag {
    margin-left: 5px;
    padding: 5px;
  }
}

.fas-error {
  color: red;
}

.invalid-field {
  border-left: 5px solid #d00;
  &__required-text {
    color: red;
    display: block;
    font-size: 8px;
    position: absolute;
    bottom: 29px;
    padding-left: 12px;
  }
}
