@import "src/styles/variables.scss";

:host {
    display: flex;
    flex-flow: row nowrap;

    .option {
        flex-grow: 1;
        background-color: $gray-light;
        text-align: center;
        border: 1px solid $gray;
        cursor: pointer;
        user-select: none;
    }

    .option-selected {
        background-color: $custom-blue;
        color: $white;
    }
}