<modal (close)="modalService.hide()">
    <modal-header>{{title}}</modal-header>

    <modal-body>
        <div class="modal-section">
            <form [formGroup]="form" novalidate>
                <card hideSeparator>
                  <card-col [width]="470" [labelWidth]="210">
                    <card-row label="Packet Requests Stages" inputId="statusesIds" [containerWidth]="300" required>
                      <app-select cardValue
                        id="stage"
                        [multiLabelTemplate]="filterMultiLabelTemplate"
                        [options]="statusesDropdownOpts"
                        [isMultiselectDropdown]="true"
                        optionAsValue
                        [fullwidth]="true"
                        class="w-100 custom-multiselect--standalone"
                        formControlName="statusesIds"
                        (onModelChange)="onStageChange($event, 'statusesIds')"
                        placeholder="Stage">
                      </app-select>
                      <!-- @todo: Temporary Solution: Need to have a deep refactoring of this component -->
                      <ng-template #filterMultiLabelTemplate>
                        <span *ngIf="areAllStagesSelected">All</span>
                        <ng-container *ngIf="!areAllStagesSelected">
                          <span class="selected-option" *ngFor="let opt of checkedStatusesDropdownOpts">{{opt.name}}</span>
                        </ng-container>
                      </ng-template>
                    </card-row>
                </card-col>
                </card>
            </form>
        </div>
    </modal-body>

    <modal-footer>
        <button
            type="button"
            class="btn modal-footer__btn modal-footer__btn--secondary"
            (click)="onCancel()">
                Cancel
        </button>
        <button
            type="submit"
            class="btn modal-footer__btn modal-footer__btn--primary"
            asyncButton
            [awaitedActionTypes]="awaitedActionTypes"
            [ngClass]="{ disabled: isSaveDisabled }"
            [disabled]="isSaveDisabled"
            (asyncFinished)="onCancel"
            (click)="onSave()">
                <span class="spinner-border spinner-border-sm align-middle ms-1 hidden"></span>
                Ok
        </button>
    </modal-footer>
</modal>
