<div class="password-control">
  <input class="form-control" 
     [type]="isPasswordHidden ? 'password' : 'text'"
     [attr.id]="id"
     (ngModelChange)="onChangeHandler($event)"
     (focus)="onFocusFn()"
     (blur)="onBlurFn()"
     [ngModel] = "password"
     [ngClass]="{'valid-password': isPasswordValidAndConfirmed && password}"
     autocomplete="off">
            <button [ngClass]="!isPasswordHidden ? 'eye-icon' : 'eye-icon eye-icon--slash'"
                    (click)="isPasswordHidden = !isPasswordHidden">
            </button>
</div>
