@import "src/styles/variables.scss";

.password-control {
  position: relative;
  margin-right: 15px;

  .valid-password {
    border-left: 5px solid $validation-valid-color;
  }
}

.eye-icon {
  cursor: pointer;
  position: absolute;
  top: 7px;
  height: 7px;
  right: 6px;
  padding: 0;
  border: none;
  display: flex;
  background-color: #ffffff;
  outline: none;
  content: url("../../../../assets/svg/eye-regular.svg");

  &--slash {
    content: url("../../../../assets/svg/eye-slash-regular.svg");
    height: 9px;
    top: 6px;
    right: 5px;
  }
}
