<div>
    <span class="grid-title">
        <i class="fas fa-exclamation-triangle"></i>
        CRITICAL DEFICIENCIES - Payment items with critical deficiencies will NOT be included in the payment request
    </span>
    <app-critical-deficiencies-list></app-critical-deficiencies-list>
</div>
<div class="mt-4">
    <span class="grid-title">
        <i class="grid-title__warning fas fa-exclamation-triangle"></i>
        WARNING DEFICIENCIES - fix issue or enter a reason for by-passing before continuing
    </span>
    <app-warning-deficiencies-list></app-warning-deficiencies-list>
</div>