<modal (close)="modal.hide()">
  <modal-header>Copy Special Payment Instructions</modal-header>

  <modal-body>
    <div class="modal-section">
      <app-stepper [stage]="step">
        <step label="Selected Copy To Ledger Entries" [isActive]="step === steps.SelectedCopyToLedgerEntries">
          <div class="section-content">
            <app-copy-special-payment-instructions-selected-list [parentGridId]="gridId" [projectId]="projectId"
              [paymentQueueGridParams]="gridParams$ | async"></app-copy-special-payment-instructions-selected-list>
          </div>
        </step>
        <step label="Copy From Ledger Entry" [isActive]="step === steps.CopyFromLedgerEntry">
          <div class="section-content">
            <form [formGroup]="form">
              <p>Enter the Ledger Entry ID for a ledger entry that contains the payment instructions you wish to copy.
                For help on finding a Ledger Entry ID click here.</p>
              <card hideSeparator>
                <card-col [width]="650">
                  <card-row [labelWidth]="350" label="Copy SPI from Ledger Entry ID" inputId="copySPIFromLedgerEntryId"
                    [control]="form.get('copySPIFromLedgerEntryId')" required>
                    <input type="number" class="form-control" formControlName="copySPIFromLedgerEntryId"
                      id="copySPIFromLedgerEntryId" cardValue step="1" min="0" />
                  </card-row>
                </card-col>
                <card-col [width]="600">
                  <card-row>
                    <button class="btn btn-primary" [disabled]="form.invalid || pending"
                      asyncButton
                      (click)="copySPIFromLedgerEntryIdPreviewClick()"
                      [awaitedActionTypes]="previewButtonAwaitedActions" type="button" cardValue>
                      Preview Payment Instructions
                    </button>
                  </card-row>
                </card-col>
              </card>
            </form>
            <card hideSeparator>
              <card-col *ngIf="paymentInstructions" [width]="1000">
                <card-row [labelWidth]="350">
                  <strong cardValue>Special Payment Instructions to be copied:</strong>
                  <div *ngFor="let pi of paymentInstructions; index as i;" cardValue>{{pi.payee}} / {{pi.method}} /
                    {{pi.percentage}}%</div>
                </card-row>
              </card-col>
            </card>
          </div>
        </step>
        <step label="Review" [isActive]="step === steps.Review">
          <div class="section-content" *ngIf="step === steps.Review">
            <app-copy-special-payment-instructions-validation-review [tabsGroup]="tabsGroup"
              [batchAction]="batchAction"
              [projectId]="projectId"
              [ledgerEntryId]="ledgerEntryId"></app-copy-special-payment-instructions-validation-review>
          </div>
        </step>
        <step label="Results" [isActive]="step === steps.Results">
          <div class="section-content" *ngIf="step === steps.Results">
            <app-copy-special-payment-instructions-results [tabsGroup]="tabsGroup"
              [batchAction]="batchAction"
              [projectId]="projectId"
              [ledgerEntryId]="ledgerEntryId"></app-copy-special-payment-instructions-results>
          </div>
        </step>
      </app-stepper>

    </div>
  </modal-body>

  <modal-footer>
    <span *ngIf="errorMessage" class="text-danger small me-auto">{{errorMessage}}</span>
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="steps.SelectedCopyToLedgerEntries"
        [ngTemplateOutlet]="selectedEntriesButtons"></ng-container>
      <ng-container *ngSwitchCase="steps.CopyFromLedgerEntry"
        [ngTemplateOutlet]="copyFromLedgerEntryButtons"></ng-container>
      <ng-container *ngSwitchCase="steps.Review" [ngTemplateOutlet]="reviewButtons"></ng-container>
      <ng-container *ngSwitchCase="steps.Results" [ngTemplateOutlet]="resultsButtons"></ng-container>
    </ng-container>
  </modal-footer>
</modal>

<ng-template #selectedEntriesButtons>
  <button type="button" class="btn modal-footer__btn modal-footer__btn--secondary" (click)="modal.hide()">
    Cancel
  </button>
  <button class="btn modal-footer__btn modal-footer__btn--primary" [disabled]="!(selectedPaymentQueueGrid$ | async)"
    (click)="onChangeMode(steps.CopyFromLedgerEntry)">
    <span class="spinner-border spinner-border-sm align-middle ms-1 hidden"></span>
    Next
  </button>
</ng-template>

<ng-template #copyFromLedgerEntryButtons>
  <button class="btn modal-footer__btn modal-footer__btn--secondary"
    (click)="onChangeMode(steps.SelectedCopyToLedgerEntries)">
    Back
  </button>
  <button asyncButton type="button" [awaitedActionTypes]="validateButtonAwaitedActions"
    class="btn modal-footer__btn modal-footer__btn--primary" [ngClass]="{ disabled: form.invalid }"
    (click)="onValidateClick()" [disabled]="form.invalid || pending">
    <span class="spinner-border spinner-border-sm align-middle ms-1 hidden"></span>
    Validate
  </button>
</ng-template>

<ng-template #reviewButtons>
    <button class="btn modal-footer__btn modal-footer__btn--secondary"
            (click)="modal.hide()">
      Cancel
    </button>
    <button asyncButton
          [awaitedActionTypes]="approveButtonAwaitedActions"
          class="btn modal-footer__btn modal-footer__btn--primary"
          [ngClass]="{ disabled: form.invalid }"
          [disabled]="!validationResultDocId"
          (click)="onApproveClick()">
    <span class="spinner-border spinner-border-sm align-middle ms-1 hidden"></span>
    Approve
  </button>

</ng-template>


<ng-template #resultsButtons>
    <button class="btn modal-footer__btn modal-footer__btn--secondary"
            (click)="modal.hide()">
      Close
    </button>
</ng-template>
