<app-info-card [state]="infoCardState">
    <div (click)="onClick()" class="container cursor-pointer" *ngIf="releaseAdmin.items[0] as data" infoCardData>
        <div class="section first-section">
            <div class="title">Release Admin</div>
            <ng-container *ngIf="!isReleasePhaseRemoved; else Removed">
                <ng-container *ngIf="!isFinalized; else Final">
                    <div class="status">IN PROGRESS</div>
                    <div class="sub-status">
                        <img src="assets/svg/substatus-inprogress.svg">
                        <span data-test-id="dashboard-releaseAdmin-display-stage">{{ data.stage.name }}</span>
                    </div>
                </ng-container>
            </ng-container>
            
            <ng-template #Final>
                <div class="status-final">FINALIZED</div>
            </ng-template>

            <ng-template #Removed>
                <div class="status">N/A</div>
                <div class="sub-status">
                    <i class="fas fa-times"></i>
                    <span data-test-id="dashboard-releaseAdmin-display-stage">{{ data.stage.name }}</span>
                </div>
            </ng-template>
            
        </div>
        <div class="section second-section">
            <div class="summary-row">
                <span class="property-name">In Good Order:</span>
                <div class="dashed-line"></div>
                <span data-test-id="dashboard-releaseAdmin-display-inGoodorder" class="property-value"> {{ data.inGoodOrder || '-' }} </span>
            </div>
            <div class="summary-row">
                <span class="property-name">Release Received:</span>
                <div class="dashed-line"></div>
                <span data-test-id="dashboard-releaseAdmin-display-releaseRec" class="property-value"> {{ (data.releaseRec | date:'MM/dd/yyyy') || '-' }} </span>
            </div>
        </div>
        <div class="section third-section">
            <div class="summary-row">
                <span class="property-name">Submitted to Defense:</span>
                <div class="dashed-line"></div>
                <span data-test-id="dashboard-releaseAdmin-display-submittedToDefense" class="property-value"> {{ (data.submittedToDefense | date:'MM/dd/yyyy') || '-'}} </span>
            </div>
            <div class="summary-row">
                <span class="property-name">Defense Approval Date:</span>
                <div class="dashed-line"></div>
                <span data-test-id="dashboard-releaseAdmin-display-defenseApprovalDate" class="property-value"> {{ (data.defenseApprovalDate | date:'MM/dd/yyyy') || '-'}} </span>
            </div>
        </div>                
    </div>
</app-info-card> 
