@import "src/styles/variables.scss";

:host {
  display: block;
  margin-bottom: 35px;
}

.card-container { // in order not to conflict with bootstrap .card class
  display: inline-block;
  font-size: 14px;
  padding: 0;
  width: 100%;
  max-width: none;
  border: none;

  .expand-btn {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: $gray-mid-light;
    color: $gray-darker;

    &:before {
      content: '\f078';
      font-family: $font-awesome;
      font-weight: 600;
      font-size: 10px;
    }

    &--expanded:before {
      content: '\f077';
    }
  }
}

.row > * {
  flex-shrink: initial;
  width: initial;
}

.card {
  &__header {
    font-weight: bold;
    color: #0f0b46;

    &:not(:empty) {
      padding: 5px 0;
    }

    &--with-separator {
      border-bottom: 2px solid $form-separator-color;
    }

    &--collapsable {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--flex-row {
      display: flex;
      align-items: center;
    }
  }

  &__header--with-separator + &__content {
    padding-top: 15px;
  }

  &__content {
    flex-wrap: nowrap;
  }
}
