@import "src/styles/variables.scss";
@import "src/styles.variables.scss";

.tab-content {
  height: 100%;
}


.nav-tabs {
  padding-left: 24px;
  padding-bottom: 24px;
  border-bottom: 0px;
}
.nav-tabs-container {
  height: 100%;
}

.nav {
  .nav-item {
      font-size: 18px;
      border-bottom: 2px solid transparent;
      &--active {
        border-bottom-color: $blue;
  
        &:hover {
          border-bottom-color: $yellow;
        }
      }
  }

  .nav-link {
    padding: 0;
    height: 23px;
    border: none;
    font-weight: 200;
    color: #050041a3;
    &--active {
      color: $blue;
      font-weight: 600;
    }
    &-title{
      padding-left: 7px;
      padding-right: 2px;
    }
  }
}

.nav-link-icon {
    margin-bottom: 4px;
    width: 16px;
    height: 16px;
}