<div class="container" [ngStyle]="{ cursor: cursorStyle }">
  <img *ngIf="!showTracker" [src]="imagePath" alt="Image" class="image">
  
  <svg *ngIf="showTracker" class="image progress-ring">
    <circle class="progress-ring__background" stroke="#E8E8E8" stroke-width="7" fill="transparent" r="21" cx="25" cy="25" />
    <circle [style.stroke-dashoffset]="circleOffset" class="progress-ring__circle" stroke="#141B4D" stroke-width="7" stroke-linecap="round" fill="transparent" r="21" cx="25" cy="25" />
    <text style="display: block;" id="progress-text" x="50%" y="50%" text-anchor="middle" fill="black" font-size="13" dy=".35em" font-weight="bold">
      {{percentComplete}}%
    </text>
  </svg>
  
  <div class="content">
    <div class="text">{{ topText }}</div>
    <div class="icon-text">
      <img *ngIf="iconPath" [src]="iconPath" alt="Icon" class="icon">
      <span class="icon-caption">{{ bottomText }}</span>
    </div>
  </div>
</div>
