<form novalidate *ngIf="form" [formGroup]="form" (change)="onChange()">
  <ng-container formArrayName="conditions" *ngFor="let condition of conditions.controls;" class="sub-group-container">
    <ng-container [formGroup]="condition" label="">
      <label [readonlyForm]="readOnly" class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="isChecked" [id]="condition.value.productConditionId">
        <span></span>
        <span class="form-check-label--ellipsis">{{condition.value.name}}</span>
      </label>
    </ng-container>
  </ng-container>
</form>