<app-info-card [externalBorder]="routerLinkActivated" [state]="InfoCardState.Error">
  <div style="color: #DC2828" [style.cursor]="routerLinkActivated ? 'pointer' : 'default'"
       [routerLink]="routerLinkActivated ? 'deficiencies' : null" class="container" infoCardData>
    <div class="section first-section">
      <div class="title">
        <i style="margin-right: 10px" class="fas fa-exclamation-triangle"></i>
        Deficiencies
      </div>
    </div>
    <div style="font-weight: 700; font-size: 22px" class="section third-section">
      <div>
        {{ uncuredDeficienciesCount }}
        <i *ngIf="routerLinkActivated" style="margin-left: 12px; color: #B11B1B;" class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
</app-info-card>