<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left text-light">{{ title }}</h4>
  <button type="button" class="btn-close pull-right text-light" aria-label="Close" (click)="userServerStatusOperationModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ description }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md bg-primary btn-outline-primary text-light" (click)="userServerStatusOperationModal.hide()">
    Close
  </button>
</div>
