@import 'src/styles/variables.scss';

.upload-audit-document-modal {
  &__body {
    min-height: 200px; 
    margin-bottom: 2px; 
    background-color: $white;
  }

  &__error-message {
    font-size: $font-size-m;
    width: 100%;
  }
}

.section-header {
  padding-top: 13px;
}
