<ng-container [ngSwitch]="tab">
  <app-copy-special-payment-instructions-records-list
    *ngSwitchCase="tabs.AllRecords"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.AllRecords"
  ></app-copy-special-payment-instructions-records-list>
  <app-copy-special-payment-instructions-records-list
    *ngSwitchCase="tabs.Errors"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Errors"
    [status]="errorStatus"
  ></app-copy-special-payment-instructions-records-list>
  <app-copy-special-payment-instructions-records-list
    *ngSwitchCase="tabs.Warnings"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Warnings"
    [status]="warnStatus"
  ></app-copy-special-payment-instructions-records-list>
  <app-copy-special-payment-instructions-records-list
    *ngSwitchCase="tabs.Updates"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Updates"
    [status]="updatedStatus"
  ></app-copy-special-payment-instructions-records-list>
  <app-copy-special-payment-instructions-records-list
    *ngSwitchCase="tabs.Queued"
    [batchActionId]="batchAction.id"
    [documentTypeId]="documentTypeId"
    [tab]="tabs.Queued"
    [status]="enqueuedStatus"
  ></app-copy-special-payment-instructions-records-list>
</ng-container>
