<ng-container [ngSwitch]="tab">
  <app-update-by-action-template-id-all-records-list
    *ngSwitchCase="tabs.AllRecords"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId"
  ></app-update-by-action-template-id-all-records-list>
  <app-update-by-action-template-id-errors-list
    *ngSwitchCase="tabs.Errors"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId">
  </app-update-by-action-template-id-errors-list>
  <app-update-by-action-template-id-warnings-list
    *ngSwitchCase="tabs.Warnings"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId">
  </app-update-by-action-template-id-warnings-list>
  <app-update-by-action-template-id-queued-list
    *ngSwitchCase="tabs.Queued"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId"
    [actionTemplateId]="actionTemplateId">
  </app-update-by-action-template-id-queued-list>
  <app-update-by-action-template-id-no-updates-list
    *ngSwitchCase="tabs.NoUpdates"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId">
  </app-update-by-action-template-id-no-updates-list>
  <app-update-by-action-template-id-updates-list
    *ngSwitchCase="tabs.Updates"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId">
  </app-update-by-action-template-id-updates-list>
  <app-update-by-action-template-id-inserts-list
    *ngSwitchCase="tabs.Inserts"
    [batchAction]="batchAction"
    [documentTypeId]="documentTypeId">
  </app-update-by-action-template-id-inserts-list>
</ng-container>
